doctype html
html
  head
    meta(charset='utf-8')
    title CCC2018酒店预订入口验证
    style(type='text/css').
      body {
      margin: 0;
      background-image: url('images/背景-1.jpg');
      background-repeat: no-repeat;
      background-position: 50% 0%;
      background-size: 60% 150%;
      }
    script(type='text/javascript').
      function regist() {
      window.location.href = 'http://127.0.0.1:8081/register';
      }
  body(bgcolor='#F0F8FF')
    #div1(style='text-align: center;')
      img(src='images/ccc2018.png', width='60%', height='100%')
      div(style='text-align: center;margin-top:50px;')
        h1(style='text-align: center;margin:0;')
          font(color='#2F4F4F', size='5') CCC2018酒店预订入口身份验证
        p(style='text-align: center;margin:0;')
          font(color='#2F4F4F', size='3') (请使用CCC2018投稿系统注册信息登录)
        #div2
          form(action='http://127.0.0.1:8081/process_get', method='GET', style='text-align: center;')
                div
                  p(style='margin-top:30px')
                    font(color='#000000')
                      b 请输入您的 PIN :
                    input.txt(type='text', size='18', maxlength='10', name='username')
                  p
                    font(color='#000000')
                      b 请输入您的密码:
                    input.txt(type='password', size='18', maxlength='10', name='password')
                    th
                font(color='#DC143C', size='3') #{s}
                div(style='text-align: center;margin-top:10px')
                  input#login(type='submit', name='submit', value='登录')